.left {
  float: left;
}

.right{
  float:right;
}

body {
  background-color: #e4fffd;
}

h1 {
  text-align: center;
  text-decoration: underline;
  text-transform: lowercase;
  color: #4e5b6e;
}
h2 {
  text-align: center;
  text-transform: lowercase;
  color:#4e5b6e;
}
h3 {
  text-align: center;
  text-transform: lowercase;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 8px;
  overflow: hidden;
  background-color: #4e5b6e;
}

li  {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.panel-heading-custom {
  background-color: #4e5b6e;
  color: white;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
