.left {
  float: left;
}

.right{
  float:right;
}

img.center{
  display: block;
  margin: auto;
  }

body {
  background: #f3daff;
  background: -webkit-linear-gradient(#f3daff,#f3dadf,#f3dabf);
  background: linear-gradient(#f3daff,#f3dadf,#f3dabf);
}

h1 {
  text-align: center;
  text-transform: lowercase;
  color: white;
}
h2 {
  text-align: center;
  text-transform: lowercase;
  color: white;
}
h3 {
  text-align: center;
  text-transform: lowercase;
  color: white;
}


.nav {
  list-style-type: none;
  margin: 0;
  padding: 8px;
  overflow: hidden;
  background-color: none;
  color:#4e5b6e;
}

li  {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.panel-heading-custom {
  background-color: #aa98b2;
  color: white;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.italics {
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

.border{
  border: black;
  background:linear-gradient(#f3dabf,#f3dadf,#f3daff) ;
}

.background-img{
  background-image: url("img/me.png");
}
